@model Models.Products

@{
    ViewData["Title"] = "Index";
}

<head>
    @*<link rel="stylesheet" href="~/css/prodmenu.css"/>*@
    



    
        <style>
            figure {
                width: 20%;
                background-color: white;
                box-shadow: 5px 5px 5px #4d4d4e;
            }

            figcaption {
                text-align: center;
                padding: 10px 20px;
            }
        </style>
    </head>

<body>
    <figure>
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fassets.marthastewart.com%2Fstyles%2Fwmax-750%2Fd11%2Fbreak_01267%2Fbreak_01267_horiz.jpg%3Fitok%3DpVrcgqBN"
             alt="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fassets.marthastewart.com%2Fstyles%2Fwmax-750%2Fd11%2Fbreak_01267%2Fbreak_01267_horiz.jpg%3Fitok%3DpVrcgqBN" width="100%">
        <figcaption>
            <p>Egg</p>
            <p>Raise one and race!</p>
            <p>ProductId: 1 | VendorId: 1 </p>
        </figcaption>
    </figure>

    <figure>
        <img src="https://preview.redd.it/erg66s4xx6d01.png?width=960&crop=smart&auto=webp&s=141a578bd811d3b2fb52757d437e205263b250cc"
             alt="https://preview.redd.it/erg66s4xx6d01.png?width=960&crop=smart&auto=webp&s=141a578bd811d3b2fb52757d437e205263b250cc" width="100%">
        <figcaption>
            <p>Poncho</p>
            <p>Just look at how cute it is</p>
            <p>ProductId: 2 | VendorId: 2 </p>
        </figcaption>
    </figure>













    @*<ul class="flex-container">
            <li class="flex-item">ProductId: 1 | VendorId: 1 | Raise one to race!</li>
            <li class="flex-item">ttessfd</li>
            <li class="flex-item">sdfds</li>
            <li class="flex-item">sdfdsfds</li>
            <li class="flex-item">sfdsf</li>
            <li class="flex-item">sfsdf</li>
        </ul>*@




</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}