@{
    ViewData["Title"] = "Home Page";
}





<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    
</head>

<body>


    
    <div id="slideshow">
       <div>
            <img src="https://img2.finalfantasyxiv.com/accimg2/97/d4/97d4a16d5baa7c6b5d4b04739857e1b5ac0540bd.jpg">
        </div>
        <div>
            <img src="https://ff14.norirow.com/wp-content/uploads/2020/12/img_1942-800x450.jpg">
        </div>
        <div>
            <img src="https://ff14.norirow.com/wp-content/uploads/2020/11/img_0880-800x450.jpg">
        </div>
    </div>




</body>



